@model Project1DbContext.Customer

@{
    ViewData["Title"] = "Account Creation";
}
<body>
    <div class="text-center">
        <h1 class="display-4">New Account</h1>
        <p>Put some kind of new account form box here</p>
    </div>
</body>
