@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Khajiit Caravan</h1>
    <img src="/Images/merchant.jpg" alt="Khajiit Merchant" style="vertical-align:top" width="400">
    <p>"Khajiit has wares if you have coin."</p>
</div>

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Login to an existing account</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Create new account</a>
</div>
