@{
    ViewData["Title"] = "Stores";
}

<div class="text-center">
    <h1 class="display-4">Stores index page</h1>
    <img src="/Images/map.jpg" alt="Tamriel Map" style="vertical-align:top" width="600">
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Details">Details</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="History">Store order history</a>