@model Project1.Models.OrderHistoryViewModel

@{
    ViewData["Title"] = "Order History";
}

<div class="text-center">
    <h1 class="display-4">Store Order History for</h1>
    <h1 class="display-3">@Html.DisplayFor(model => Model.storeVm.City), @Html.DisplayFor(model => Model.storeVm.Region)</h1>
    <p>show store details and stuff</p>
</div>