@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "View Cart";
}

<div class="text-center">
    <h1 class="display-4">Shopping Cart</h1>
</div>

<div class="align-content-center">
    @{
        if (Context.Session.GetString("cart") != null && Context.Session.GetString("cart") != "{}")
        {
            <table class="table text-light col-auto">
                <thead>
                    <tr>
                        <th>
                            Product Id
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in JsonConvert.DeserializeObject<Dictionary<int, int>>(Context.Session.GetString("cart")))
                    {
                        if (item.Value != 0)
                        {
                            <tr>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    @item.Value
                                </td>
                                <td>
                                    <a class="text-light mx-auto" asp-action="Edit" asp-route-productId="@item.Key">Edit</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <a type="submit" asp-action="Checkout" value="Checkout">Checkout</a>
        }
        else
        {
            <p>Shopping cart is empty</p>
        }
    }

    <a type="submit" asp-action="Products" value="Back to prodcucts">Back to products</a>   
</div>
