@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@model IEnumerable<Project1DbContext.Product>

@{
    ViewData["Title"] = "View Cart";
}

<div class="text-center">
    <h1 class="display-4">Shopping Cart</h1>
</div>

<div class="align-content-center">
    @{
        if (Context.Session.GetString("cart") != null && Context.Session.GetString("cart") != "{}")
        {
            <table class="table text-light col-auto">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.FirstOrDefault().Name)
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Subtotal
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal total = 0;
                        foreach (var item in JsonConvert.DeserializeObject<Dictionary<int, int>>(Context.Session.GetString("cart")))
                        {
                            if (item.Value != 0 && Model.Where(x => x.Id == item.Key).FirstOrDefault() != null)
                            {
                                decimal subTotal = Model.Where(x => x.Id == item.Key).FirstOrDefault().Price * item.Value;
                                total += subTotal;
                                <tr>
                                    <td>
                                        @{
                                            string name = Model.Where(x => x.Id == item.Key).FirstOrDefault().Name;
                                        }
                                        @name
                                    </td>
                                    <td>
                                        @item.Value
                                    </td>
                                    <td>
                                        @subTotal
                                    </td>
                                    <td>
                                        <a class="text-light mx-auto" asp-action="Edit" asp-route-productId="@item.Key">Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td></td>
                            <td>Grand Total: </td>
                            <td>@total</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a type="submit" asp-action="Checkout" value="Checkout">Checkout</a>
        }
        else
        {
            <p>Shopping cart is empty</p>
        }
    }

    <a type="submit" asp-action="Products" value="Back to prodcucts">Back to products</a>
</div>
