@{
    ViewData["Title"] = "Change Store";
}

<h1>Change Store</h1>
<p>Store is currently set, would you like to change stores? This will clear items in cart.</p>
<a class="text-light mx-auto" asp-action="ClearStore">Change Store.</a>
<a class="text-light mx-auto" asp-action="Products">Back to products page.</a>


