@{
    ViewData["Title"] = "Order Success";
}

<h1>Order Placed!</h1>
<a class="text-light mx-auto" asp-controller="Shop" asp-action="Products">Continue shopping?</a> or go to
<a class="text-light mx-auto" asp-controller="Account" asp-action="Index">Account page.</a>
